<a href="https://colab.research.google.com/github/physcoaryan/DataScienceLab/blob/main/Experiment-1/MultiplicationTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = int(input("Enter a number: "))

print(f"Multiplication Table for {num}:")
for i in range(1, 11):
    print(f"{num} * {i} = {num * i}")

Enter a number: 99
Multiplication Table for 99:
99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990